:root{
    --primary-color:#6eb0ec;
    --text-dark:#111827;
    --text-light:#6b7280;
    --white:#ffffff;
    --max-width:1200px;
}
.hero-section{
    max-width: 1200px;
    margin: auto;
    padding: 3rem 1rem;
    display: grid;
    gap: 2rem;
    text-align: center;
}

.hero-section h1{
    margin-top: 1rem;
    font-size: 4rem;
    font-weight: 700;
    line-height: 5rem;
    color:var(--text-dark) ;
}
.hero-section h1 span{
    color: var(--primary-color);
    font-size: 4rem;
}
.hero-section p{
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.75rem;
    color: black;
}
.hero-section form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem 0;
    background-color: #f6f4f7;
    border-radius: 10px;
}
.hero-section .input-row{
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1;
}
.ri-search-line{
    color: var(--text-dark);
}
.ri-arrow-down-s-line{
    color: var(--text-dark);
}
.hero-section .input-group{
    display: flex;
    align-items:center ;
    gap: 10px;
    color: var(--text-dark);
}

.hero-section .input-group span{
    color: var(--text-dark);
}
.hero-section input{
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    background-color: transparent;
}
.hero-section button{
    width: 100%;
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    white-space: nowrap;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 10px;
    cursor: pointer;
}
@media(width > 540px){
    .hero-section{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        text-align: left;
    }
    .hero-img{
        grid-area: 1/2/2/3;
    }
}
@media(width > 1024px){
    .hero-section form{
        flex-direction: row;
    }
    .hero-section button{
        width: fit-content;
    }
}